---

---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Enway</title>
	</head>
	<body>
		<h1>enway.jp</h1>
		<span>This domain is for sale: </span>
		<span style="text-decoration: underline;">tzz.zhao@gmail.com</span>
	</body>
</html>
